*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.menu div{
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  color: white;
  padding: 5px;
}


.dashboard{
  background-color: #333652;
  grid-row: span 2;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 100px 200px 150px;
  padding: 20px;
}

.dashboard .logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}


.dashboard .logo div{
  color: white;
  justify-items: center;
  padding-left: 10px;
  font-weight: 500;
  font-size: 2em;
}

.dashboard .logo .material-symbols-outlined{
  color: white;
  font-size: 48px;
}

.navigation{
  background-color: #E9EAEC;
  grid-row: 1/2;
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: 75px 75px;
  grid-template-columns: 3fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.searchbar{
  align-self: center;
  grid-column: 1/2;

}

.searchbar input{
  width: 100%;
  padding: 10px;
  height: 30px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #90ADC6;
  outline: none;
  border: 3px solid  #90ADC6;
  transition: all 0.3s  ease ;
}

.searchbar input:focus{
  border-color: #FAD02C;
}

.searchbar form {
 display: flex;
}

.searchbar .material-icons{
  font-size: 30px;
  padding-left: 10px;
}


.main{
  background-color: #90ADC6;
  grid-row: 2/3;
  grid-column: 2/-1;
}

.notifications{
  display: grid;
  grid-template-columns: min-content min-content max-content;
  align-items: center;
  font-weight: 500;
  gap: 20px;
  grid-column: 2/3;
  justify-self: end;
  padding-right: 20px;
}

img{
 height: 48px;
 width: 48px;
}

.user img{
  height: 86px;
  width: 86px;
}

.manageaccount{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user{
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-left: 10px;
  align-items: center;
}

.username{
  padding-left: 10px;
}
.username h5{
  padding-bottom: 7px;
}

.buttons{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  gap: 20px;
  padding: 10px;
  justify-items: center;

}

.buttons button{
  background-color:#333652 ;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border: none;
}

.main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* border-top: solid 2px gray; */
  box-shadow: 0px 5px 10px #333652 inset;
}



.project{
  height: 100%;
  min-height: 190px;
  width: 100%;
  background-color: #E9EAEC;
  border-radius: 10px;
  border-left: solid 5px #FAD02C;
  display: grid;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0px 3px 5px #2c3169;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.projecttext{
  margin: 10px;
}

.project p{
  color: gray;
  font-size: smaller;
}
.project h4{
  padding-bottom: 5px;
}

.cardicons{
  justify-self: end;
  padding: 10px;
}

.left{
  margin: 10px;
  margin-top: 30px;

}

.right{
  margin: 10px;
  margin-top: 30px;

}
.main .label{
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
}

.announcementposts{
  background-color: #E9EAEC;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 3px 5px #2c3169;
  padding: 20px;
  padding-bottom: 0px;
}

.announcement p{
  color: gray;
  font-size: smaller;
}

.announcementposts .announcement:last-child { border: none;
}

.announcement{
padding: 15px;
  border-bottom: 1px solid gray;
}

.peopletrending{
  background-color: #E9EAEC;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 3px 5px #2c3169;
  min-height: 200px;
}

.trends {
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  padding: 20px;
  padding-bottom: 21px;
}

.trends p{
  color: gray;
  font-size: smaller;
}

.trendname {
  padding-left: 10px;
}










